// Colors
$black: rgba(30, 30, 36, 1);
$green: rgba(39, 120, 15, 1);
$green1: rgba(82, 142, 55, 1);
$green2: rgb(22, 105, 15);
$green3: rgba(49, 87, 44, 1);
$green4: rgba(125, 189, 78, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(107, 107, 107, 1);

// Fonts
$small:16px;
$medium:20px;
$big:48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top:30px;
$big-margin-top: 90px;

$border-radius: 4px;